body {
background-color: rgb(3, 3, 3);
background-image: url("mback2.jpg");
background-repeat: no-repeat;
color: white;
background-position: center;
background-attachment: fixed; 
background-size: cover;
text-align: center;
Font-family: "Times New Roman", Times, serif;
font-weight: bold;
font-size: 20px;
padding:5%;

}
#wrapper{
    background-color: black; 
	margin-left: auto; 
	margin-right: auto;
	width: 40%; 
	min-width: 900px; 
	max-width: 1280px; 
	box-shadow: 10px,10px,10px,white;
}

h1 {
Font-family: "Times New Roman", Times, serif;
font-weight: bold;
font-size:60px;
text-align: center;
padding:5%;
padding-bottom:0%;
text-shadow: 2px 2px grey;

}

h2 {
text-align: center;
Font-family: "Times New Roman", Times, serif;
font-weight: bold;
font-size: 45px;
padding:5%;

}
h3{
    text-align: center;
Font-family: "Times New Roman", Times, seriff;
font-weight: bold;
font-size: 30px;
padding:5%;

}

nav{
	float: left;
	text-align: center; 
	width:100%; 
	font-weight:bold; 
	font-size: 30px; 
	background-color: black;
	width:100%;
	min-width: 900px; 
	max-width: 2000px; 
}
nav ul{
	display: inline;
	padding-left: 8em;
    }

nav a:link{color: white;}
nav a:visited{color: white;}
nav a:hover{color:grey;}
nav a:active{color:#ebae3d;}


   
   


    


