body {
background-color: rgb(3, 3, 3);
background-image: url("mback2.jpg");
background-repeat: no-repeat;
color: white;
background-position: center;
background-attachment: fixed; 
background-size: cover;
text-align: center;
Font-family: "Times New Roman", Times, serif;
font-weight: bold;
font-size: 20px;
padding:5%;

}
#wrapper{
    background-color: hsla(0, 100%, 0%, .85); 
	margin-left: auto; 
	margin-right: auto;
	width: 40%; 
	min-width: 900px; 
	max-width: 1280px; 
	box-shadow: 10px,10px,10px,white;
}

.jumbotron{
    background-color: hsla(0, 100%, 0%, .85);
    border-color: #F3D403;
}
.carousel-caption{
    text-align: top center;
}

h1 {
Font-family: "Times New Roman", Times, serif;
font-weight: bold;
font-size:60px;
text-align: center;
padding:5%;
padding-bottom:0%;
text-shadow: 2px 2px grey;

}

h2 {
text-align: center;
Font-family: "Times New Roman", Times, serif;
font-weight: bold;
font-size: 45px;
padding:5%;

}
h3{
text-align: center;
Font-family: "Times New Roman", Times, seriff;
font-weight: bold;
font-size: 30px;
padding:5%;

}

#rollimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;  
}

nav{
	float: left;
	text-align: center; 
	width:100%; 
	font-weight:bold; 
	font-size: 30px; 
	background-color: black;
	min-width: 900px; 
	max-width: 2000px; 
}
nav ul{
	display: inline;
	padding-left: 8em;
    }

nav a:link{color: white;}
nav a:visited{color: white;}
nav a:hover{color:grey;}
nav a:active{color:#ebae3d;}

#datedComics{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flip-box {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}